# Ignore the real snowflake.yml config
/snowflake.yml

# Ignore the real agent-evaluator config
/agenteval.yml
# Agent evaluator summary and traces
/agenteval_traces
/agenteval_summary.md

# Environment file
/.env

# Ignore the private development container configuration
/.devcontainer/private

# Ignore corporate uv package manager settings
/uv.toml

# Python
**/__pycache__

# Testing
/tmp

# Misc
**/*.swp
