# Ignore the real snowflake.yml config
/snowflake.yml

# Ignore everything in the agenteval folder except the example subfolder
/agenteval/*
!/agenteval/example

# Environment file
/.env

# Ignore the private development container configuration
/.devcontainer/private

# Ignore corporate uv package manager settings
/uv.toml

# Python
**/__pycache__

# Testing
/tmp

# Misc
**/*.swp
